
h1,h2,h3,h4,h5,h6,
.display-6
{
    color: var(--dark);
    color: rgb(0, 0, 0);
    margin-left: 10%;
}
a{
    color: var(--dark);
    text-decoration: none;
}
.hero
{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}
.main_page{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}
input{
	outline: none;
}
.intial__form{
	height: 400px;
    
}
.form label{
	color: #D6D5A8;
	font-weight: 500;
	
}
input[type ="radio"]{
	accent-color: #51557E;
}
html{
	font-size: 62.5%;
}


.main__container{
	display: flex;
	width: 70%;
	
}
.description__container{
	width: 40%;

}
.img__logo{
	width: 60rem;
	display: block;
	transform: translateX(-140px);
	-webkit-transform: translateX(-140px);
	-moz-transform: translateX(-140px);
	-ms-transform: translateX(-140px);
	-o-transform: translateX(-140px);
}

.paragraph__description{
	font-size: 1.7rem;
	color:#816797;
	width: 80%;
	margin-left: 5rem;
	text-align: left;
	transform: translateY(-190px);
	-webkit-transform: translateY(-190px);
	-moz-transform: translateY(-190px);
	-ms-transform: translateY(-190px);
	-o-transform: translateY(-190px);
	font-weight: 500;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
	color: black;
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
	color: black;
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 330px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	background-color:#51557E;
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
	
}

@keyframes showLogin {
	0% {
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(35%, -20px);
		border-radius: 20px;
	}
}

@keyframes hideLogin {
	0% {
		transform: translate(40%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(40%, 10px);
        filter: blur(5px);
	}
}

.form-signup {
	background-color: #51557E;
	animation: hideSignup .5s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		transform: translate(-35%, -20px) scaleY(1);
		border-radius: 20px;
	}
}

@keyframes hideSignup {
	0% {
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		transform: translate(-40%, 10px) scaleY(.8);
        filter: blur(5px);
	}
}


.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #ffffff;
}

.input-block input {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 16px;

	color: black;
  border: 1px solid rgb(86, 50, 204);
  border-radius: 30px;
}

.form [type='submit'] {
	display: block;
	margin: 30px auto 10px;
	font-size: 18px;
	border-radius: 25px;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}
