.Emplacement__articl{
 width: 70%;
 margin: 10px auto;
 position: absolute;
 z-index: 3;
 left: 60%;
 top: 50%;
 transform: translate(-50%,-60%);
 -webkit-transform: translate(-50%,-60%);
 -moz-transform: translate(-50%,-60%);
 -ms-transform: translate(-50%,-60%);
 -o-transform: translate(-50%,-60%);
}
main{
  position: relative;
  border: 1px solid black;
}
.card{
	width: calc(100%/3);
  margin: 3em;
  

}
.card-img-top{
  background-size:cover;
}
