.Emplacement__articl{
 width: 70%;
 margin: 10px auto;
 position: absolute;
 z-index: 3;
 left: 60%;
 top: 50%;
 transform: translate(-50%,-60%);
 -webkit-transform: translate(-50%,-60%);
 -moz-transform: translate(-50%,-60%);
 -ms-transform: translate(-50%,-60%);
 -o-transform: translate(-50%,-60%);
}
main{
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid red;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  min-height: 100vh;
}
.card{
	width: calc(100%/3);
  margin: 3em;
  

}
.card-img-top{
  background-size:cover;
}
