@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #f5f5ef;
  --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}
html{
  font-size: 62.5%;
}
body {
  /* font-family: Sora, "sans-serif"; */
  line-height: 1.7;
  color: var(--body);
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;

}

.EmplacementArticel
{
    top: 250px;
    position: relative;
    width: 102rem;
    margin-left: 16.5rem;
}
.titre h2{
  position: absolute;
  left: 30rem;
  top: 12rem;
  color: black;
  font-size: 2rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
