main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.container{
  width: 80%;
  height: 600px;
  margin: auto;
  position:absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.competence {
  position: relative;
  top: 11rem;
}
.titreProjet{
  color:black;
  position: absolute;
  top: 7%;
  left: 299px;
}

.ligne {
  border-bottom: solid 1px gray;
  width: 95%;
  border-radius: 20px;
  height: 5rem;
  margin-bottom: 10px;
  background-color: white;
}

.ligne li {
  display: inline;
  font-size: 25px;
  color: black;
}

.competence ul {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  padding: 3%;
  list-style-type: none;
  background-color: rgba(159, 213, 231, 0.491);
}

.competence h4 {
  margin-bottom: 7%;
  color: black;
}

.niveau i {
  position: absolute;
  display: inline;
  margin-top: 2%;
}

.icone {
  color: rgb(67, 241, 67);
  font-size: 30px;
}

.delete {
  color: red;
  margin-left: 8.5%;
  font-size: 30px;
}

.update {
  color: blue;
  font-size: 30px;
  margin-left: 4%;
}

.inscrire {
  position: relative;
  margin-top: 10%;
  left: 30%;
  outline: none;
  border-style: none;
  color: white;
  background-color: rgb(86, 50, 204);
  padding: 10px;
  border-radius: 5px;
}

.inscrire i {
  margin-right: 10px;
}

.desc {
  color: black;
  width: 70%;
  background-color: #a0d6f2;
  padding: 15px;
  border-radius: 15px;
  top: 3rem;
  margin: 0 auto;
}

.prerequis {
  position: relative;
  background-color: rgb(255, 222, 225);
  top: 5rem;
  width: 70%;
  padding: 10px;
  border-radius: 15px;
  color: black;
  margin: 30px auto;

}

.favoris {
  position: absolute;
  font-size: 35px;
  left: 80%;
  top: 21.5%;
  color: rgb(0, 13, 255);
}

.range {
  position: relative;
  left: 30%;
  width: 60%;
  top: -8px;
}
#opel{
  top: 8%;
  left: 96%;
}
/* Range 2 */
#range2 {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 3px;
  background: #ccc;
}

#range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: rgb(0, 13, 255);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

#range2::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: rgb(0, 13, 255);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

#range2::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, .1);
}

#range2:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, .2);
}

#range2:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, .2);
}

#range2::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, .1);
}

#range2:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, .2);
}

#range2:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, .2);
}

.value2 {
  position: relative;
  font-size: 26px;
  width: 50px;
  color: black;
  left: 60%;
  top: -29px;
}

.totalStat {
  position: relative;
  width: 70%;
  margin: 100px auto 300px auto;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
}

#number {
  font-weight: 800px;
  color: #555;
  font-size: 23px;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 433;
  stroke-dashoffset: 433;
  animation: anim 2s linear forwards;
  font-size: 300%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  to {
    stroke-dashoffset: calc(433 - (433 * var(--percentage)) / 100);
  }
}

/* Media Query */
@media (max-width: 768px) {
  main{
    top: 10%;
  }
  .container {
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    bottom: 10%;
    left: 49%;
  }

  .competence,
  .desc,
  .prerequis {
    width: 100%;
    left: 0;
    top: initial;
  }

  .competence ul,
  .desc,
  .prerequis {
    width: 100%;
    left: 0;
    padding: 10px;
  }

  .totalStat {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .skill {
    margin-left: 0;
  }
  #opel{
    top: 10%;
    right: 35%;
  }
  .titreProjet{
    top: 10%;
    left: 2%;

  }
}